$lightBlue:  #C7F7FF;
$medBlue:    #89C0C9;
$darkBlue:   #3a5E63;
$lightBrown: #C9A689;
$darkBrown:  #7C593C;
$lightGrey:  #d4d4d4;
$darkGrey:   #222;
$bgColor: #fff;
    
$font-stack1: Cardo, "Palatino Linotype", "Book Antiqua", Palatino, serif;
$font-stack2: "Josefin Sans", "Trebuchet MS", Helvetica, sans-serif;